
/* Resetowanie marginesów i paddingów */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section {
    background-color: argb(88, 64, 125, 0.6);
    color: white;
}
/* Stylowanie nagłówka */
header {
    background-color: argb(51, 50, 54, 0.6);
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 2rem;
}

/* Nawigacja */
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Sekcje */
section {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: white;
}

section h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

/* Stylowanie stopki */
footer {
    background-color: argb(51, 50, 54, 0.6);
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Przycisk zmiany tła */
#changeBackgroundBtn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
}

#changeBackgroundBtn:hover {
    background-color: #0056b3;
}

/* Responsywność */
@media (max-width: 768px) {
    header h1 {
        font-size: 1.5rem;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 5px 0;
    }
}
a{
    color: white;
}
.kolor{
    color: white;
}
 html{
     margin:0 auto;
     width: 1200px;
     overflow: hidden;
     background: url('image/wallpaper.gif') no-repeat center center fixed;
     background-size: cover;
     height: 100%;
 }
