* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    margin: auto;
    scroll-behavior: smooth;
    background-image: url('../image/wallpaper.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    background-color: rgba(51, 50, 54, 0.6);
    color: white;
    padding: 20px;
    text-align: center;
}

body {
    color: #333;
    display: flex;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 40px;
}

h1 {
    font-size: 2.2em;
    text-align: center;
    margin: 20px 0;
    margin-bottom: 10px;
}

h2 {
    text-align: center;
    margin: 10px 0;
    font-size: 2.2em;  /* Poprawka */
    margin-bottom: 30px;
    line-height: 1.6;
}

h3 {
    margin-top: 0;
}

section {
    background-color: rgba(88, 64, 125, 0.6);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
}

a {
    text-decoration: none;
    color: white;
    text-shadow: black 2px 0px 10px;
    transition: transform 0.3s ease;
}

a:hover {
    transform: scale(1.1);
}

