* {
  margin: 0;
  box-sizing: border-box;
}
html{
  margin: 0 auto;
  width:900px;
  background: url('../image/wallpaper.gif') no repeat center center fisex;
  background-size:cover;
  height: 1200px;
  scrolll-behavior: smooth;
}
h2{
}
